<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="assets/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Beautiful Design meets Powerful Engineering</title>

    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />

    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/rubick.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="assets/css/fonts/Rubik-Fonts.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <% preact.headEnd %>
  </head>
  <body id="skrollr-body">
    <% preact.bodyEnd %>
  </body>
  <!--   core js files    -->
  <script src="assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.js" type="text/javascript"></script>

  <!--   file for adding vertical points where we activate the elements animation   -->
  <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>

  <!--  js library for devices recognition -->
  <script type="text/javascript" src="assets/js/modernizr.js"></script>

  <!--   file where we handle all the script from the Rubik page   -->
  <script type="text/javascript" src="assets/js/rubick.js"></script>

  <!--  script for google maps   -->
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false"
  ></script>
</html>
